.products-table{
    height: 450px;
}
.products-table::-webkit-scrollbar{
    width: 3px;
}
.products-table::-webkit-scrollbar-track{
    background: transparent;
}
.products-table::-webkit-scrollbar-thumb{
    background: var(--second);
}
.product-preveiw{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.product-preveiw img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.quantity{
    display: flex;
    width: fit-content;
    overflow: hidden;
}
.input-box{
    width: 40px;
    text-align: center;
    border: none;
    background-color: #f8f9fa;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
}
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.price-box{
    background-color: var(--fourth);
}
.fa-arrow-right{
    transition: all 0.3s ease-out;
}
.rotate{
    rotate: 90deg;
}